<html>
    <head>
        <title>실습 32. 회원가입</title>
    </head>
    <body>
        <h2> 회원가입 정보 </h2>
        이메일 : <%=email%> <br>
        이름 : <%=name%> <br>
        전화번호 : <%=tel%> <br>
        생년월일 : <%=date%> <br>
        성별 : <%=gender%> <br>
    </body>
</html>