<html>
    <head>
        <title>실습 31. POST으로 정보 받기</title>
    </head>
    <body>
        <h2> 회원가입 정보 </h2>
        이름 : <%=name%> <br>
        이메일 : <%=email%> <br>
        전화번호 : <%=tel%> <br>
        성별 : <%=gender%> <br>
        생년월일 : <%=year%> 년 <%=month%> 월 <%=day%> 일 <br>
        관심사 : <%=interest%> <br>
    </body>
</html>